$root-class: 'filter-entry';

.#{$root-class} {
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 17px 27px 0px;	
	cursor: pointer;
	height: 65px;
	margin: 30px 0;
	display: flex;
	align-items: center;
	font-size: 36px;
	padding: 0 30px;
	background-color: whitesmoke;
	color: grey;
	justify-content: space-between;


	&__image {
		height: 70%;
	}

	&--active {
		background-color: white;
	}
}
