.hotel-entry-details {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .hotel-entry-details__image {
    position: relative;
    flex-basis: 35%; }
    .hotel-entry-details__image > img {
      border-radius: 5px;
      width: 100%;
      height: 100%; }
    .hotel-entry-details__image__savings {
      background-color: red;
      color: white;
      position: absolute;
      left: 0; }
  .hotel-entry-details__info {
    flex-basis: 65%;
    margin-left: 10px;
    border-bottom: 1px solid lightgray; }
    .hotel-entry-details__info__title {
      color: grey;
      font-size: 24px;
      margin-bottom: 5px; }
    .hotel-entry-details__info__attributes {
      display: flex; }
      .hotel-entry-details__info__attributes__ratings-reviews {
        flex-basis: 50%; }
        .hotel-entry-details__info__attributes__ratings-reviews__reviews {
          color: gray;
          font-size: 24px; }
      .hotel-entry-details__info__attributes .hotel-entry-details-amenities {
        flex-basis: 50%;
        text-align: center; }
