$root-class: 'hotel-entry-details';

.#{$root-class} {
	display: flex;
	flex-direction: row;
	width: 100%;

	&__image {
		position: relative;
		flex-basis: 35%;

		& > img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
		}
		&__savings {
			background-color: red;
			color: white;
			position: absolute;
			left: 0;
		}
	}

	&__info {
		flex-basis: 65%;
		margin-left: 10px;
		border-bottom: 1px solid lightgray;

		&__title {
			color: grey;
			font-size: 24px;
			margin-bottom: 5px;
		}

		&__attributes {
			display: flex;;

			&__ratings-reviews {
				flex-basis: 50%;
				&__reviews {
					color: gray;
					font-size: 24px;
				}
			}

			.hotel-entry-details-amenities {
				flex-basis: 50%;
				text-align: center;
			}
		}
	}
}
