$root-class: 'hotel-entry-price-boxes';

.#{$root-class} {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 24px;

	&__retail {
		flex-basis: 49%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100px;
		color: red;
		border: 1px solid red;
		border-radius: 5px;

		&__price {
			text-decoration: line-through;

			&--same-price {
				text-decoration: none;
			}
		}

	}

	&__snap {
		flex-basis: 49%;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		color: green;
		border: 1px solid green;
		border-radius: 5px;
	}
}