.hotel-entry-price-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 24px; }
  .hotel-entry-price-boxes__retail {
    flex-basis: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    color: red;
    border: 1px solid red;
    border-radius: 5px; }
    .hotel-entry-price-boxes__retail__price {
      text-decoration: line-through; }
      .hotel-entry-price-boxes__retail__price--same-price {
        text-decoration: none; }
  .hotel-entry-price-boxes__snap {
    flex-basis: 49%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: green;
    border: 1px solid green;
    border-radius: 5px; }
