$root-class: 'search-field';

.#{$root-class} {
	height: 65px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin: 12px 0;
	font-size: 16px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 17px 27px 0px;
	text-align: center;

	&--search {
		flex-basis: 100%;
	}

	&--date {
		width: 35%;
	}
}