.search-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .search-fields__submit {
    height: 70px;
    margin: 12px 0;
    padding: 0;
    border: 1px solid lightgrey;
    flex-basis: 20%;
    border-radius: 5px;
    text-align: center;
    background: #e7e7e7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 17px 27px 0px;
    background-color: white;
    cursor: pointer; }
    .search-fields__submit__image {
      height: 50%; }
