$root-class: 'snap-travel-layout';

.#{$root-class} {
	
	&__header {
		height: 80px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 17px 27px 0px;

		&__image	 {
			height: 100%;
		}
	}

	&__content {
		padding: 0 5%;
	}
}