.snap-travel-layout__header {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 17px 27px 0px; }
  .snap-travel-layout__header__image {
    height: 100%; }

.snap-travel-layout__content {
  padding: 0 5%; }
